body {
        background-image: url('img/background.png');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .name {
        font-size: 75px;
        color: rgb(228, 218, 218);
        padding-top: 12%;
        padding-bottom: 0%;
        font-family: 'Oswald', sans-serif;
    }
    
    .backtext {
            font-family: 'Open Sans', sans-serif;
            font-size: 50px;
            color:white;
            font-family: 'Oswald', sans-serif;
            margin: 0;
    }